# Core Framework
streamlit
watchdog
argon2-cffi

# Network Science & Math
networkx
igraph
scipy
numpy
pandas
infomap
leidenalg
scikit-learn

# Visualization 
streamlit-agraph
pyvis
matplotlib
streamlit-option-menu
plotly
streamlit-plotly-events2==0.0.7