# Core Framework
streamlit
watchdog
argon2-cffi==23.1.0

# Network Science & Math
networkx
igraph
scipy
numpy
pandas
infomap
leidenalg
scikit-learn
# Visualization 
streamlit-agraph
pyvis
matplotlib
streamlit-option-menu
plotly
